<script setup lang="ts">
import fancybtn from "@/components/fancybtn.vue";
import { mdiHeartOutline, mdiCursorDefauldClickoutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><fancybtn
          ><v-icon :icon="mdiHeartOutline" />Love Me
          <template v-slot:tail>tail</template>
        </fancybtn>
        <template v-slot:tail> </template>
      </v-col>
      <v-col
        ><fancybtn
          ><v-icon :icon="mdiCursorDefauldClickoutline" />Clickme
          <template #tail>ma tail</template>
        </fancybtn>
      </v-col>
    </v-row>
  </v-container>
</template>
