<script setup lang="ts">
import framworkPoP from "@/components/FrameworkPop.vue";
import { ref, computed } from "vue";
const framelist = [
  {
    name: "chicken",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1280px-Image_created_with_a_mobile_phone.png",
    rating: 10,
  },

  {
    name: "hellobro",
    img: "https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/52562212346_054a94d321_o.jpg",
    rating: 20,
  },

  {
    name: "testtt",
    img: "https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/hubble_ngc6956.jpg",
    rating: 10,
  },
];

function changeRating(index: number, rating: number) {
  console.log("action" + index + ":" + rating);
  framelist.value[index].rating = rating;
}

const orderlist = computed(() => {
  return [...framelist.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of framelist" :key="index">
        <framworkPoP
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @action="changeRating"
        ></framworkPoP>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of framelist" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
