<script lang="ts" setup>
export default {
  data: () => ({
    show: false,
  }),
};
</script>

<template>
  <v-card class="mx-auto" max-width="344">
    <v-img
      src="https://lh3.googleusercontent.com/a/AEdFTp6pcfp4D8YMVKmaGhC9WtgVrrBASMmk4oxIIRc6YQ=s360-p-rw-no"
      height="200px"
      cover
    ></v-img>

    <v-card-title> นายภูรินท์ ดวงสุวรรณ์</v-card-title>

    <v-card-subtitle>
      กำลังศึกษาอยู่ในมหาลัยบูรพา ชั้นปีที่2 คณะวิทยาการสารสนเทศ
      สาขาวิทยการคอมพิวเตอร์
    </v-card-subtitle>

    <v-card-actions>
      <v-btn color="orange-lighten-2" variant="text"> สิ่งที่สนใจ </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
        @click="show = !show"
      ></v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text>
          สิ่งที่สนใจคือ: การเขียนโปรเเกรมบนเว็บที่สามารถเป็นไปได้ตามที่ต้องการ
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>
